<div class="footer-wrapper">
  <div class="inner-content">
    <div class="links-container">
      <div class="links-1">
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Test1</a></li>
          <li><a routerLink="/" routerLinkActive="active">Test2</a></li>
          <li><a routerLink="/" routerLinkActive="active">Test3</a></li>
          <li><a routerLink="/" routerLinkActive="active">Test4</a></li>
        </ul>
      </div>
      <div class="links-2">
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Test1</a></li>
          <li><a routerLink="/" routerLinkActive="active">Test2</a></li>
          <li><a routerLink="/" routerLinkActive="active">Test3</a></li>
          <li><a routerLink="/" routerLinkActive="active">Test4</a></li>
        </ul>
      </div>
      <div class="links-3">
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Test1</a></li>
          <li><a routerLink="/" routerLinkActive="active">Test2</a></li>
          <li><a routerLink="/" routerLinkActive="active">Test3</a></li>
          <li><a routerLink="/" routerLinkActive="active">Test4</a></li>
        </ul>
      </div>
      <div class="links-4">
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Test1</a></li>
          <li><a routerLink="/" routerLinkActive="active">Test2</a></li>
          <li><a routerLink="/" routerLinkActive="active">Test3</a></li>
          <li><a routerLink="/" routerLinkActive="active">Test4</a></li>
        </ul>
      </div>
    </div>
    <div class="copy-right-container">
      <p>&copy; 2021 Daniel Persson</p>
    </div>
  </div>
</div>