#navbar {
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 500;

  .navbar-content-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
}

.navbar-background-general {
  background-color: var(--primary-color);
}

.navbar-background-home {
  background-color: transparent;
}
