<div id="navbar" [ngClass]="getClass()">
  <div class="navbar-content-wrapper">
    <div class="icon-container">
      <p>Icon placeholder</p>
    </div>
    <ul class="navigation-container">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/counter" routerLinkActive="active">Counter</a></li>
      <li><a routerLink="/list" routerLinkActive="active">List</a></li>
    </ul>
  </div>
  <div [ngClass]="displaySection()">
    <h1>Basic Angular Practise</h1>
  </div>
  <div [ngClass]="heroVisible()"></div>
</div>