#navbar {
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 500;
  transition: background-color 0.2s linear;

  .navbar-content-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    ul {
      text-decoration: none;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;

      li {
        text-decoration: none;
        list-style: none;
        transition: background-color 0.2s ease-in-out;
        color: #fff;

        a {
          color: #fff;
          padding: 0.5rem 1rem;
        }

        :hover {
          background-color: rgba(0, 0, 0, 0.05);
          border-radius: 5px;
        }
      }
    }
  }
}

.navbar-background-general {
  background-color: var(--primary-color);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
}

.navbar-background-home {
  background-color: transparent;
}

.hero-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  transform: skewY(8deg);
  transform-origin: 100%;
  top: 0;
  transition: background-image 0.2s linear;
  z-index: -5;
}

.hero-color {
  background-image: var(--main-linear-color);
}

.header-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 500px;
  margin: 0 auto -32px;
  padding: 48px 0 0;
  color: #fff;
}

.no-header-section-container-display {
  display: none;
}
