@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --main-font-stack: "Roboto", sans-serif;
  --primary-color: #0da139;
  --main-linear-color: linear-gradient(145deg, #0da139, #6bff7b);
  --main-text-color: #444;
  --card-shadow: 0 6px 6px rgb(10 16 20 / 15%), 0 0 52px rgb(10 16 20 / 12%);
  --button-primary-color: #009aff;
  --button-warning-color: #ff3959;
  --button-reset-color: #ffac0f;
  --button-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  --button-hover-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-stack);
  letter-spacing: 0.035rem;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  text-transform: uppercase;
}
